<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroStore.heroesObservable | async">

      <a *ngIf="hero.id" routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>

      <a class="hidden" *ngIf="!hero.id">
        <div class="loader"></div>
        <span class="hidden-span">{{hero.name}}</span>
      </a>

      <button
        *ngIf="hero.id"
        class="delete"
        title="delete hero"
        (click)="delete(hero)">x
      </button>

    </li>
  </ul>
</div>

<app-add-hero-area></app-add-hero-area>

